ul {
    list-style-type:none;
    margin: 15px 10px;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
    opacity:0.75;
    text-decoration:none;
}

li {
    display: inline;
}

#sign-in {
    background-color: rgb(45, 97, 230);
    border-color: rgb(64, 101, 160);
    border-radius:2px;
    border-style: solid;
    border-image-repeat:stretch;
    color: rgb(255,255,255);
    font-family:arial, sans-serif;
    font: size 13px;
}

#topnav {
    float: left;
}

#toprightnav {
    float:right;
    display:block;
    color:black;
    text-align:center;
    padding: 0 7px;
    opacity: 0.75;
    text-decoration:none;
}

#topnav a {
    display:block;
    color:black;
    text-align:center;
    padding: 0 7px;
    opacity: 0.75;
    text-decoration:none;
}

#toprightnav a {
    display:block;
    color:black;
    padding: 0 7px;
    text-decoration:none;
}

body {
    text-align: center;
    font-family: arial, sans-serif;
}

#main {
    padding-bottom: 35px;
}

#logo {
    padding-top:109px;
}

form {
    font-size:14px;
    border-radius:4px;
    font-family: arial, sans-serif;
}

#botnav {
    float:left;
    display:block;
    color:black;
    text-align:center;
    padding: 0 7px;
    text-decoration:none;
}

#botrightnav {
    float:right;
    display:block;
    color:black;
    text-align:center;
    padding: 0 7px;
}

#botnav a {
    display:block;
    color:black;
    text-align:center;
    padding: 0 7px;
    text-decoration:none;
}

#botrightnav a {
    display:block;
    color:black;
    text-align:center;
    padding: 0 7px;
    text-decoration:none;
}

#footer {
    bottom:0px;
}